<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="userName" value="Gaby"/>
    <add key="password" value="12345"/>
  </appSettings>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="server=localhost;database=test;uid=root;password=12345"/>
    
  </connectionStrings>
</configuration>